<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">  
                        
                        
                        
	    <context:component-scan base-package="com.hsy.ssm" /> <!-- 自动扫描 -->  
	    
	    <!-- 将session放入redis -->
	    <context:annotation-config/>
	    
	    <bean id="redisHttpSessionConfiguration"  class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration" >
	        	<property name="maxInactiveIntervalInSeconds" value="3600" />
	    </bean>
	     
	    <bean   class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		        <!-- redis 配置 -->
		        <property name="hostName" value="127.0.0.1" />
		        <property name="port" value="6379" />
	    </bean>
		 
		<import resource="spring-mybatis.xml"/>
		
</beans>  